#number-1 {
   bottom: 15px;
   left: 40%;
   rotate: 75deg;
   bottom: 10px
}
#number-2 {
   left: 48%;
   top: 78%;
   bottom: 10px
}
#number-3 {
   left: 6%;
   rotate: 240deg;
   bottom: 10px
}
#number-4 {
   left: 15%;
   bottom: 8%
}
#number-5 {
   left: 19%;
   bottom: 10px
}
#number-6 {
   left: 17%;
   top: 70%
}
#number-7 {
   left: 30%;
   rotate: 40deg;
   bottom: 10px
}
#number-8 {
   left: 50%;
   bottom: 10px
}
#number-9 {
   left: 75%;
   rotate: 200deg;
   bottom: 10px
}
#number-10 {
   left:72%;
   top: 13%
}
#number-11 {
   left: 90%;
   rotate: -20deg;
   bottom: 10px
}
#number-12 {
   left: 25%;
   top: 10px;
}
#number-13 {
   left: 16%;
   top: 7%;
   rotate: 50deg;
}
#number-14 {
   left: 18%;
   top: 39%;
}
#number-15 {
   left: 30%;
   top: 11%;
}
#number-16 {
   left: 45%;
   top: 5%;
}
#number-17 {
   left: 55%;
   top: 20%;
}
#number-18 {
   left: 82%;
   top: 8%;
}
#number-19 {
   left: 90%;
   top: 20%;
}
#number-20 {
   left: 55%;
   top: 10%;
}
#number-21 {
   left: 24%;
   top: 22%;
   rotate: 60deg;
}
#number-22 {
   left: 54%;
   top: 50%;
   transform: translate(-50%,-50%);
}
#number-23 {
   left: 43%;
   top: 22%;
   color: blue;
}
#number-24 {
   left: 64%;
   top: 36%;
}
#number-25 {
   left: 72%;
   top: 26%;
}
#number-26 {
   left: 11%;
   top:  44%;
}
#number-27 {
   left: 22%;
   top:  11%;
}
#number-28 {
   left: 44%;
   top: 34%;
}
#number-29 {
   left: 50%;
   top:  42%;
}
#number-30 {
   left: 34%;
   top: 57%;
}
#number-31 {
   left: 43%;
   top:  62%;
}
#number-32 {
   left: 22%;
   top:  76%;
   rotate: 300deg;
}
#number-33 {
   left: 56%;
   top:  82%;
}
#number-34 {
   left: 60%;
   top:  30%;
}
#number-35 {
   left: 12%;
   top:80%;
}
#number-36 {
   left: 70%;
   top:39%;
   rotate: -50deg;
}
#number-37 {
   left: 78%;
   top: 48%;
}
#number-38 {
   left: 85%;
   top: 55%;
}
#number-39 {
   left: 60%;
   top:  60%;
}
#number-40 {
   left: 89%;
   top:  60%;
}
#number-41 {
   left: 88%;
   top:  75%;
}
#number-42 {
   left: 75%;
   top: 75%;
}
#number-43 {
   left: 75%;
   top: 65%;
}
#number-44 {
   left:18%;
   top: 10px;
}
#number-45 {
   left: 81%;
   top:  40%;
}
#number-46 {
   left: 90%;
   top: 10px;
   rotate: 70deg;
}
#number-47 {
   left: 65%;
   top: 20%;
}
#number-48 {
   left: 62%;
   top:  10%;
}
#number-49 {
   left: 5%;
   top:  33%;
}
#number-50 {
   left: 5%;
   top: 10%;
}
#number-51 {
   left: 4%;
   top: 20%;
}
#number-52 {
   left: 20%;
   top:  50%;
}
#number-53 {
   left: 25%;
   top: 40%;
}
#number-54 {
   left: 25%;
   top: 32%;
}
#number-55 {
   left: 10%;
   top: 70%;
}
#number-56 {
   left: 11%;
   top: 62%;
}
#number-57 {
   left: 35%;
   top: 70%;
}
#number-58 {
   left: 65%;
   top: 10px;
}
#number-59 {
   left: 75%;
   top: 10px;
}
#number-60 {
   left: 90%;
   top: 10%;
}
#number-61 {
   left: 80%;
   top: 20%;
}
#number-62 {
   left: 5%;
   rotate: -50deg;
}
#number-63 {
   left: 37%;
   top: 85%;
}
#number-64 {
   left: 25%;
   top: 65%;
}
#number-65 {
   left: 30%;
   top: 50%;
}
#number-66 {
   left: 35%;
   top: 42%;
}
#number-67 {
   left: 43%;
   top: 42%;
}
#number-68 {
   left: 50%;
   top: 68%;
}
#number-69 {
   left: 50%;
   top: 60%;
}
#number-70 {
   left: 60%;
   top: 70%;
}
#number-71 {
   left: 65%;
   top: 78%;
}
#number-72 {
   left: 66%;
   top: 85%;
}
#number-73 {
   left: 3%;
   top: 60%;
}
#number-74 {
   left: 2%;
   top: 44%;
}
#number-75 {
   left: 3%;
   top: 70%;
}
#number-76 {
   left: 4%;
   top: 80%;
}
#number-77 {
   left: 35%;
   top: 10px;
}
#number-78 {
   left: 35%;
   top: 20%;
}
#number-79 {
   left: 15%;
   top: 30%;
}
#number-80 {
   left: 65%;
   top: 45%;
}
#number-81 {
   left: 70%;
   top: 55%;
}
#number-82 {
   left: 55%;
   top: 35%;
}
#number-83 {
   left: 78%;
   top: 32%;
}
#number-84 {
   left: 15%;
   top: 20%;
}
#number-85 {
   left: 12%;
   top: 53%;
}
#number-86 {
   left: 79%;
   top: 83%;
}
#number-87 {
   right: 10px;
   top: 40%;
}
#number-88 {
   right: 10px;
   top: 50%;
}
#number-89 {
   left: 90%;
   top: 30%;
}
#number-90 {
   left: 45%;
   top: 52%;
}
#number-91 {
   left: 35%;
   top: 30%;
}
#number-92 {
   left: 38%;
   top: 77%;
}
#number-93 {
   left: 60%;
   bottom: 10px;
}
#number-94 {
   right: 10px;
   top: 68%;
}
#number-95 {
   right: 10px;
   top: 82%;
}
#number-96 {
   left: 45%;
   top: 14%;
}
#number-97 {
   left: 23%;
   top: 58%;
}
#number-98 {
   left: 25%;
   top: 83%;
}
#number-99 {
   left: 55%;
   top: 10px;
}
#number-100 {
   left: 10px;
   top: 52%;
}

#line-1 {
   top: 5%;
}

#line-2 {
   top: 10%;
}

#line-3 {
   top: 15%;
}

#line-4 {
   top: 20%;
}

#line-5 {
   top: 25%;
}

#line-6 {
   top: 30%;
}

#line-7 {
   top: 35%;
}

#line-8 {
   top: 40%;
}

#line-9 {
   top: 45%;
}
#line-10 {
   top: 50%;
}
#line-11 {
   top: 55%;
}
#line-12 {
   top: 60%;
}
#line-13 {
   top: 65%;
}
#line-14 {
   top: 70%;
}
#line-15 {
   top: 75%;
}
#line-16 {
   top: 80%;
}
#line-17 {
   top: 85%;
}
#line-18 {
   top: 90%;
}
#line-19 {
   top: 95%;
}

#number-10, #number-20,#number-30,#number-40,#number-50,#number-60,#number-70,#number-80,#number-90,#number-100 {
color: green;
rotate: 50deg
}
#number-15, #number-25,#number-35,#number-45,#number-55,#number-65,#number-75,#number-85,#number-95 {
color: blue;
rotate: 300deg
}
#number-12, #number-22,#number-32,#number-42,#number-2,#number-62,#number-72,#number-82,#number-92 {
color: red;
rotate: 150deg
}
#number-16, #number-26,#number-36,#number-46,#number-6,#number-66,#number-76,#number-86,#number-96 {
   color: brown;
   rotate: 240deg
}
#number-17, #number-27,#number-37,#number-47,#number-7,#number-7,#number-77,#number-87,#number-97 {
   color: purple; 
   rotate: 90deg
}
#number-18, #number-28,#number-38,#number-48,#number-8,#number-8,#number-8,#number-88,#number-98 {
   color: rgb(184, 184, 40); 
}
#number-19, #number-29,#number-39,#number-49,#number-59,#number-69,#number-79,#number-89,#number-99 {
   color: rgb(55, 149, 90); 
}



.chosen-1 {
   border: 2px solid #0eb7da
}
.chosen-2 {
   border: 2px solid #bf0e0b
}

.help {
  text-decoration: underline !important;
  color: green !important;
  font-size: 40px !important;
}

.spin::before,
.spin::after {
    top: 0;
    left: 0;
}

.spin::before {
   border: 2px solid transparent;
}

.spin:focus:before {
   border-top-color: #0eb7da;
   border-right-color: #0eb7da;
   border-bottom-color: #0eb7da;
   transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
}

button {
   border: 0;
   position: relative;
}

button::before,
button::after {
   box-sizing: inherit;
   content: '';
   position: absolute;
   width: 48px;
   height: 48px;
}


.spin:focus:after {
   border: 0 solid transparent;
}

.spin:focus::after {
   border-top: 2px solid #0eb7da;
   border-left-width: 2px;
   border-right-width: 2px;
   transform: rotate(270deg);
   transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
}

.circle {
   border-radius: 100%;
   box-shadow: none;
}

.circle::before,
.circle::after {
   border-radius: 100%;
}
 